        <div class="flex-1 p-3.5">
          <a href="{{ content.site.url }}" class="block">
            <h1 class="text-lg font-bold">{{ content.site.name }}</h1>
            <h2 class="italic">{{ content.site.tagline }}</h2>
          </a>
        </div>
