      <div class="flex-none p-2">
        <div class="p-px border border-gray-300 rounded cursor-pointer md:hidden" onclick="toggleMainNav();">
          <svg class="h-8 w-10 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </div>
      </div>
      <nav class="hidden md:block" id="mainnav">
        <ul>
          <li class="inline-block">Home</li>
          <li class="inline-block">About</li>
          <li class="inline-block">Blog</li>
        </ul>
      </nav>
