        <div class="flex-none">
          <div class="p-px border border-gray-300 rounded">
          <svg class="h-8 w-10 gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          </div>
        </div>
