        <section>
          <form class="bg-gray-200 px-6 py-3 mt-4 block" action="">
            <label>
              <input class="w-full text-xs border-2 focus:border-blue-500 p-1.5" type="search" placeholder="{{ i18n.getText('widget.search.placeholder') }}" value="" name="q" aria-label="SEARCH…">
            </label>
            <input class="hidden" type="submit" value="Search">
            <input type="hidden" name="sitesearch" value="">
          </form>
        </section>
