<aside class="pt-4">
  <section>
    <h4 class="font-bold uppercase border-b-2 border-red-500 pb-2">Recent Posts</h4>
  </section>
  <section>
    <h4 class="font-bold uppercase border-b-2 border-red-500 pb-2">Categories</h4>
  </section>
  <section class="mb-4">
    <h4 class="font-bold uppercase">Tags</h4>
  </section>
</aside>