    <footer class="bg-gray-800 text-gray-400 border-t-4 border-gray-500 py-4">
      <p class="text-center"><small>{% autoescape false %}{{ content.site.copyright }}{% endautoescape %}</small></p>
    </footer>
