<!DOCTYPE html>
<html lang="en">
    <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <title>{{ content.site.title }}</title>
          <meta name="description" content="{{ content.site.description }}">
    </head>
    <body>
        <main>
{% block main %}{% endblock %}
        </main>
        <footer role="contentinfo">
{% include("footer.html.twig") %}
        </footer>
    </body>
</html>