{% extends "layout.html.twig" %}
{% block main %}
    <main>
{% if content.listing is empty %}
      <p>No Posts<p>
{% else %}
{% for item in content.listing %}
      <article>
        <h2><a href="{{ item.key }}">{{ item.title }}</a></h2>
      </article>
{% endfor %}
{% endif %}
    </main>
{% endblock %}