{% extends "layout.html.twig" %}
{% block main %}
{% if content.listing is empty %}
      <p>{{ i18n.getText('no_posts_found') }}<p>
{% else %}
{% for item in content.listing %}
      <article>
        <h2><a href="{{ item.key }}">{{ item.title }}</a></h2>
      </article>
{% endfor %}
{% endif %}
{% endblock %}