{% extends "baseof.html.twig" %}
{% block main %}
      <main class="md:w-2/3">
{% for item in content.list %}
{% if content.section is same as 'post' %}
{% include "partials/post-summary.html.twig" %}
{% elseif content.section is same as 'category' %}
<p>category section</p>
{% elseif content.section is same as 'tag' %}
<p>tag section</p>
{% endif %}
{% endfor %}
      </main>
{% endblock %}