    <form class="bg-gray-200 px-6 py-3 mt-4 block" action="">
      <label>
         <input class="w-full" type="search" placeholder="SEARCH…" value="" name="q" aria-label="SEARCH…">
      </label>
      <input class="hidden" type="submit" value="Search">
      <input type="hidden" name="sitesearch" value="">
    </form>
