{% extends "baseof.html.twig" %}
{% block main %}
        <article>
          <header class="mb-3">
            <h1 class="font-bold py-2">{{ content.title }}</h1>
{% if content.section is same as 'post' %}
{% include "partials/post-meta.html.twig" %}
{% endif %}
          </header>
          <p>{{ content.body }}</p>
        </article>
{% endblock %}