<!DOCTYPE html>
<html lang="{{ content.site.language }}" class="bg-white h-screen">
{% include "partials/admin-head.html.twig" %}
  <body class="">
    <div class="">
      <main class="">
{% include "partials/admin-toolbar.html.twig" %}
{% block main %}{% endblock %}
      </main>
    </div>
  </body>
</html>
