    <nav class="h-12 bg-gray-100 border-t-4 border-yellow-500">
      <ul>
{% if content.menus.main is defined %}
{% for main in content.menus.main %}
{% for node in main %}
        <li><a href="{{ content.site.url }}{%if node.key starts with '/'%}{{ node.key }}{% else %}/{{ node.key }}{% endif %}">{{ node.name }}</a></li>
{% endfor %}
{% endfor %}
{% endif %}
      </ul>
    </nav>
