    <nav class="h-12 bg-gray-100 border-t-4 border-yellow-500">
      <ul>
{% if content.menus.main is defined %}
{% for main in content.menus.main %}
        <li><a href="{{ content.site.url }}{%if main.key starts with '/'%}{{ main.key }}{% else %}/{{ main.key }}{% endif %}">{{ main.name }}</a></li>
{% endfor %}
{% endif %}
      </ul>
    </nav>
